:host {
  display: flex;
  flex-grow: 1;
  height: 100%;
  margin: 0;
  padding: 6px 10px 10px 10px;
  overflow-y: hidden;
  .left {
    height: 100%;
    width: calc(70% - 4px);
    min-width: 400px;
  }
  .separator {
    width: 8px;
    height: 100%;
    cursor: col-resize;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: var(--color-primary);
    }
  }
  .right {
    height: 100%;
    width: calc(30% - 4px);
    min-width: 300px;
  }
}
